In [6]:
import pandas as pd
people ={
    "first":["Corey","Jane","John"],
    "last":["Scheafer","Doe","Doe"],
    "email":["Corey@gmail.com","JaneDoe@gmail.com","JohnDoe@gmail.com"]
}
people_df = pd.DataFrame(people)

df = pd.read_csv("/home/luffy/Documents/Data_Science/Pandas/raw_data/stack_overflow_2024_data/survey_results_public.csv", index_col='ResponseId')
schema_df = pd.read_csv("/home/luffy/Documents/Data_Science/Pandas/raw_data/stack_overflow_2024_data/survey_results_schema.csv",index_col='qname')
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 500)

In [7]:
people_df['first'] + ' ' + people_df['last']

0    Corey Scheafer
1          Jane Doe
2          John Doe
dtype: object

In [8]:
people_df['full_name'] = people_df['first'] + ' ' + people_df['last']

In [9]:
people_df

   first      last              email       full_name
0  Corey  Scheafer    Corey@gmail.com  Corey Scheafer
1   Jane       Doe  JaneDoe@gmail.com        Jane Doe
2   John       Doe  JohnDoe@gmail.com        John Doe

In [11]:
people_df.drop(columns=['first', 'last'], inplace=True)

In [12]:
people_df

               email       full_name
0    Corey@gmail.com  Corey Scheafer
1  JaneDoe@gmail.com        Jane Doe
2  JohnDoe@gmail.com        John Doe

In [13]:
people_df['full_name'].str.split(' ',expand=True)

       0         1
0  Corey  Scheafer
1   Jane       Doe
2   John       Doe

In [14]:
people_df[['first','last']] = people_df['full_name'].str.split(' ',expand=True)

In [15]:
people_df

               email       full_name  first      last
0    Corey@gmail.com  Corey Scheafer  Corey  Scheafer
1  JaneDoe@gmail.com        Jane Doe   Jane       Doe
2  JohnDoe@gmail.com        John Doe   John       Doe

In [17]:
people ={
    "first":["Tony","Stark"],
    "last":["Stark","Rogers"],
    "email":["IronMan@avengers.com","Cap@avenge.com"]
}
df2 = pd.DataFrame(people)

In [18]:
df2

   first    last                 email
0   Tony   Stark  IronMan@avengers.com
1  Stark  Rogers        Cap@avenge.com

In [19]:
df2.drop(index=1)

  first   last                 email
0  Tony  Stark  IronMan@avengers.com

In [21]:
df2.drop(index=df2[df2['last'] == 'Stark'].index)

   first    last           email
1  Stark  Rogers  Cap@avenge.com