In [3]:
import pandas as pd
import numpy as np
people ={
    "first":["Corey","Jane","John", 'Chris', np.nan, None, 'NA' ],
    "last":["Scheafer","Doe","Doe", "Schafer", np.nan, np.nan, "Missing"],
    "email":["Corey@gmail.com","JaneDoe@gmail.com","JohnDoe@gmail.com",None, np.nan,"Anonymnous@email.com", 'NA' ],
    "age": ['33', '55', '63', '36', None, None, 'Missing']
}
people_df = pd.DataFrame(people)

df = pd.read_csv("/home/luffy/Documents/Data_Science/Pandas/raw_data/stack_overflow_2024_data/survey_results_public.csv", index_col='ResponseId')
schema_df = pd.read_csv("/home/luffy/Documents/Data_Science/Pandas/raw_data/stack_overflow_2024_data/survey_results_schema.csv",index_col='qname')
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 500)

In [4]:
people_df

   first      last                 email      age
0  Corey  Scheafer       Corey@gmail.com       33
1   Jane       Doe     JaneDoe@gmail.com       55
2   John       Doe     JohnDoe@gmail.com       63
3  Chris   Schafer                  None       36
4    NaN       NaN                   NaN     None
5   None       NaN  Anonymnous@email.com     None
6     NA   Missing                    NA  Missing

In [5]:
people_df.dropna()

   first      last              email      age
0  Corey  Scheafer    Corey@gmail.com       33
1   Jane       Doe  JaneDoe@gmail.com       55
2   John       Doe  JohnDoe@gmail.com       63
6     NA   Missing                 NA  Missing

In [9]:
people_df.dropna(axis='index',subset=['email', 'last'], how='any')

   first      last              email      age
0  Corey  Scheafer    Corey@gmail.com       33
1   Jane       Doe  JaneDoe@gmail.com       55
2   John       Doe  JohnDoe@gmail.com       63
6     NA   Missing                 NA  Missing

In [10]:
people_df.replace('NA', np.nan, inplace=True)

In [11]:
people_df.replace('Missing', np.nan, inplace=True)

In [12]:
people_df

   first      last                 email   age
0  Corey  Scheafer       Corey@gmail.com    33
1   Jane       Doe     JaneDoe@gmail.com    55
2   John       Doe     JohnDoe@gmail.com    63
3  Chris   Schafer                  None    36
4    NaN       NaN                   NaN  None
5   None       NaN  Anonymnous@email.com  None
6    NaN       NaN                   NaN   NaN

In [13]:
people_df.dropna()

   first      last              email age
0  Corey  Scheafer    Corey@gmail.com  33
1   Jane       Doe  JaneDoe@gmail.com  55
2   John       Doe  JohnDoe@gmail.com  63

In [14]:
people_df.isna()

   first   last  email    age
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False   True  False
4   True   True   True   True
5   True   True  False   True
6   True   True   True   True

In [15]:
people_df.fillna('MISSING')

     first      last                 email      age
0    Corey  Scheafer       Corey@gmail.com       33
1     Jane       Doe     JaneDoe@gmail.com       55
2     John       Doe     JohnDoe@gmail.com       63
3    Chris   Schafer               MISSING       36
4  MISSING   MISSING               MISSING  MISSING
5  MISSING   MISSING  Anonymnous@email.com  MISSING
6  MISSING   MISSING               MISSING  MISSING

In [16]:
people_df.dtypes

first    object
last     object
email    object
age      object
dtype: object

In [20]:
people_df['age'] = people_df["age"].astype(float)

In [21]:
people_df.dtypes

first     object
last      object
email     object
age      float64
dtype: object

In [22]:
people_df['age'].mean()

np.float64(46.75)

In [23]:
na_vals = ['NA', 'Missing']
df = pd.read_csv("/home/luffy/Documents/Data_Science/Pandas/raw_data/stack_overflow_2024_data/survey_results_public.csv", index_col='ResponseId', na_values=na_vals)
schema_df = pd.read_csv("/home/luffy/Documents/Data_Science/Pandas/raw_data/stack_overflow_2024_data/survey_results_schema.csv",index_col='qname')

In [27]:
df['YearsCode'] = df['YearsCode'].astype(float)

ValueError: could not convert string to float: 'More than 50 years'

In [28]:
df['YearsCode'].unique()

array([nan, '20', '37', '4', '9', '10', '7', '1', '15', '30', '31', '6',
       '12', '22', '5', '36', '25', '44', '24', '18', '3', '8',
       'More than 50 years', '11', '29', '40', '39', '2', '42', '34',
       '19', '35', '16', '33', '13', '23', '14', '28', '17', '21', '43',
       '46', '26', '32', '41', '45', '27', '38', '50', '48', '47',
       'Less than 1 year', '49'], dtype=object)

In [29]:
df['YearsCode'].replace('Less than 1 year', 0, inplace=True)

In [30]:
df['YearsCode'].replace('More than 50 years', 51, inplace=True)

In [31]:
df['YearsCode'].unique()

array([nan, '20', '37', '4', '9', '10', '7', '1', '15', '30', '31', '6',
       '12', '22', '5', '36', '25', '44', '24', '18', '3', '8', 51, '11',
       '29', '40', '39', '2', '42', '34', '19', '35', '16', '33', '13',
       '23', '14', '28', '17', '21', '43', '46', '26', '32', '41', '45',
       '27', '38', '50', '48', '47', 0, '49'], dtype=object)

In [33]:
df['YearsCode'] = df['YearsCode'].astype(float)

In [34]:
df['YearsCode'].mean()

np.float64(14.197497870350265)

In [35]:
df['YearsCode'].median()

np.float64(11.0)