In [1]:
import pandas as pd

In [2]:
stocks = pd.read_csv('http://bit.ly/smallstocks')

In [3]:
stocks

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT
3  2016-10-04  113.00  29736800   AAPL
4  2016-10-04   57.24  20085900   MSFT
5  2016-10-04   31.35  18460400   CSCO
6  2016-10-05   57.64  16726400   MSFT
7  2016-10-05   31.59  11808600   CSCO
8  2016-10-05  113.05  21453100   AAPL

In [4]:
stocks.index

RangeIndex(start=0, stop=9, step=1)

In [6]:
stocks.groupby('Symbol')['Close'].mean()

Symbol
AAPL    112.856667
CSCO     31.480000
MSFT     57.433333
Name: Close, dtype: float64

In [7]:
ser = stocks.groupby(['Symbol','Date'])['Close'].mean()

In [9]:
ser.index

MultiIndex([('AAPL', '2016-10-03'),
            ('AAPL', '2016-10-04'),
            ('AAPL', '2016-10-05'),
            ('CSCO', '2016-10-03'),
            ('CSCO', '2016-10-04'),
            ('CSCO', '2016-10-05'),
            ('MSFT', '2016-10-03'),
            ('MSFT', '2016-10-04'),
            ('MSFT', '2016-10-05')],
           names=['Symbol', 'Date'])

In [10]:
ser.unstack()

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

In [11]:
stocks.pivot(values='Close', index='Symbol', columns='Date')

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

In [12]:
ser

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
        2016-10-05    113.05
CSCO    2016-10-03     31.50
        2016-10-04     31.35
        2016-10-05     31.59
MSFT    2016-10-03     57.42
        2016-10-04     57.24
        2016-10-05     57.64
Name: Close, dtype: float64

In [13]:
ser.loc['AAPL']

Date
2016-10-03    112.52
2016-10-04    113.00
2016-10-05    113.05
Name: Close, dtype: float64

In [14]:
ser.loc['AAPL', '2016-10-03']

112.52

In [15]:
ser.loc[:,'2016-10-03']

Symbol
AAPL    112.52
CSCO     31.50
MSFT     57.42
Name: Close, dtype: float64

In [16]:
stocks.set_index(['Symbol','Date'], inplace=True)

In [17]:
stocks.index

MultiIndex([('CSCO', '2016-10-03'),
            ('AAPL', '2016-10-03'),
            ('MSFT', '2016-10-03'),
            ('AAPL', '2016-10-04'),
            ('MSFT', '2016-10-04'),
            ('CSCO', '2016-10-04'),
            ('MSFT', '2016-10-05'),
            ('CSCO', '2016-10-05'),
            ('AAPL', '2016-10-05')],
           names=['Symbol', 'Date'])

In [18]:
stocks.sort_index(inplace=True)

In [19]:
stocks

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800
       2016-10-05  113.05  21453100
CSCO   2016-10-03   31.50  14070500
       2016-10-04   31.35  18460400
       2016-10-05   31.59  11808600
MSFT   2016-10-03   57.42  19189500
       2016-10-04   57.24  20085900
       2016-10-05   57.64  16726400

In [20]:
stocks.loc['AAPL']

             Close    Volume
Date
2016-10-03  112.52  21701800
2016-10-04  113.00  29736800
2016-10-05  113.05  21453100

In [21]:
stocks.loc[('AAPL','2016-10-03'), :]

Close          112.52
Volume    21701800.00
Name: (AAPL, 2016-10-03), dtype: float64

In [22]:
stocks.loc[('AAPL','2016-10-03'), 'Close']

112.52

In [23]:
stocks.loc[(['AAPL', 'MSFT'], '2016-10-03'), :]

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
MSFT   2016-10-03   57.42  19189500

In [26]:
stocks.loc[('AAPL', ['2016-10-03', '2016-10-04']), :]

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800

In [27]:
stocks.loc[(slice(None), ['2016-10-03', '2016-10-04']), :]

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800
CSCO   2016-10-03   31.50  14070500
       2016-10-04   31.35  18460400
MSFT   2016-10-03   57.42  19189500
       2016-10-04   57.24  20085900

In [28]:
stocks.reset_index()

  Symbol        Date   Close    Volume
0   AAPL  2016-10-03  112.52  21701800
1   AAPL  2016-10-04  113.00  29736800
2   AAPL  2016-10-05  113.05  21453100
3   CSCO  2016-10-03   31.50  14070500
4   CSCO  2016-10-04   31.35  18460400
5   CSCO  2016-10-05   31.59  11808600
6   MSFT  2016-10-03   57.42  19189500
7   MSFT  2016-10-04   57.24  20085900
8   MSFT  2016-10-05   57.64  16726400