#### https://leetcode.com/problems/create-a-dataframe-from-list/description/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata

In [2]:
import pandas as pd

In [3]:
student_data = [
  [1, 15],
  [2, 11],
  [3, 11],
  [4, 20]
]

In [4]:
student_df = pd.DataFrame(student_data, columns=['student_id', 'age'])

In [5]:
student_df

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

#### https://leetcode.com/problems/get-the-size-of-a-dataframe/description/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata

In [ ]:
players.shape

#### https://leetcode.com/problems/display-the-first-three-rows/description/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata

In [ ]:
employees.head(3)

#### https://leetcode.com/problems/select-data/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata

In [ ]:
filt = students[students['student_id'] == 101][['name','age']]

#### https://leetcode.com/problems/create-a-new-column/description/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata

In [ ]:
employees['bonus'] = employees['salary'] * 2

#### https://leetcode.com/problems/drop-duplicate-rows/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata

In [ ]:
customers.drop_duplicates(subset='email')

#### https://leetcode.com/problems/drop-missing-data/description/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata

In [ ]:
students.dropna(subset='name')

#### https://leetcode.com/problems/modify-columns/description/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata

In [16]:
employees['salary'] = employees['salary'] * 2

#### https://leetcode.com/problems/rename-columns/description/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata

In [ ]:
students.rename(columns={'id':'student_id', 'first':'first_name', 'last':'last_name', 'age':'age_in_years'})

#### https://leetcode.com/problems/change-data-type/description/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata

In [ ]:
students['grade'] = students['grade'].astype(int)

#### https://leetcode.com/problems/fill-missing-data/description/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata

In [ ]:
products.fillna(value={'quantity':0})

#### https://leetcode.com/problems/reshape-data-concatenate/description/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata

In [ ]:
pd.concat([df1,df2])

#### https://leetcode.com/problems/reshape-data-pivot/description/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata

In [ ]:
pd.pivot_table(weather, index='month', columns='city', values='temperature')

In [7]:
new_df = student_df[student_df['age']<12]

In [8]:
new_df

   student_id  age
1           2   11
2           3   11